<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7fcdcf0e-a407-4e1c-869e-0ae0b7025677/resourceGroups/UclaEvents/providers/Microsoft.Web/sites/UclaEvents</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://uclaevents.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>uclaevents.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UclaEvents</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UclaEvents</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>